@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&family=Texturina:wght@300&display=swap');
.app-bg {
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

.app-bg::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.65);
    z-index: -1;
}

#canvas-container {
    position: relative;
}

#arrow {
    position: absolute;
    font-weight: bolder;
}

button {
    padding: 8px 32px !important;
    font-size: 1rem !important; 
}

.hide {
    display: none !important;
}

canvas {
    font-family: 'Sansita Swashed', cursive !important;
}

h2 {
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 1.5rem !important;
    color: #aa0d32;
}

h3{
    font-family: 'Source Sans Pro', sans-serif !important;
    color: #aa0d32;
}

#arrow {
    transform: rotate(90deg);
    width: 3rem;
}

.btn-primary {
    background-color: #ffb347 !important;
    border: none !important;
}